<!DOCTYPE html>
<html>

<head>
    <title>Typing Test</title>
</head>

<body>
    <div id="app">
        <h1>Typing Test</h1>
        {{currentSentence}}<br>
        <input type="text" v-model="answer" v-bind:disabled="finishedTyping" v-on:keydown="startRace()">
        <br>
        <div v-if="finished == true">
            Total time: {{ time }}s
            <br>
            <button v-on:click="resetTest">Reset Test with same sentence</button>
            <button v-on:click="resetWithNewSentence">Reset Test with new sentence</button>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>